#navbar{
    border: solid 1px black;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search_input{
    width: 80%;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 25px;
    /* margin-left: 10%; */
}
#sidebar{
    border: solid 1px black;
    width: 220px;
    height: 800px;
}

